<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="MMLib.RapidPrototyping.Generators.Repositories.IWordRepository, MMLib.RapidPrototyping"
                mapTo="MMLib.RapidPrototyping.Test.Generators.Repositories.FakeWordRepository, MMLib.RapidPrototyping.Test"  >
        <lifetime type="singleton" />
      </register>
      <register type="MMLib.RapidPrototyping.Generators.Repositories.IWordRepository, MMLib.RapidPrototyping"
                mapTo="MMLib.RapidPrototyping.Test.Generators.Repositories.FakeNameRepository, MMLib.RapidPrototyping.Test"
                name="firstName">
        <lifetime type="singleton" />
        <constructor>
          <param name="firstName" value="true" />
        </constructor>
      </register>
      <register type="MMLib.RapidPrototyping.Generators.Repositories.IWordRepository, MMLib.RapidPrototyping"
                mapTo="MMLib.RapidPrototyping.Test.Generators.Repositories.FakeNameRepository, MMLib.RapidPrototyping.Test"
                name="lastName">
        <lifetime type="singleton" />
        <constructor>
          <param name="firstName" value="false" />
        </constructor>
      </register>
    </container>
  </unity>
</configuration>