<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMLib.Extensions.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MMLib.Extensions.Test.Properties.Settings>
            <setting name="TestSerializedExpected" serializeAs="String">
                <value>&lt;TestClass xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;IntValue&gt;22&lt;/IntValue&gt;
  &lt;StringValue&gt;Mino&lt;/StringValue&gt;
  &lt;DoubleValue&gt;31.8&lt;/DoubleValue&gt;
  &lt;DateTimeValue&gt;2001-01-20T00:00:00&lt;/DateTimeValue&gt;
&lt;/TestClass&gt;</value>
            </setting>
        </MMLib.Extensions.Test.Properties.Settings>
    </userSettings>
</configuration>